/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6, label {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "product sans" !important; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input[type="text"]:focus {
  outline: none; }

.Rounais {
  font-family: 'zilap urban'; }

ul {
  list-style: none; }

a {
  text-decoration: none !important; }

button, input, select, textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

td:not([align]), th:not([align]) {
  text-align: left; }

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"); }

/** Colorimetrie **/
/**  Couleurs MBlog  **/
/** Taille de Police **/
/** Bordure de carte **/
/** Ombre **/
/** Scroll **/
/** Watch-Screen ***/
/** Smart-Screen ***/
/** Tablet-Screen ***/
/** PC-Screen ***/
body {
  width: 100%;
  height: auto !important;
  font-family: "Product sans","Black sans", arial !important;
  padding: 0px 0 50px !important;
  margin: 0px 0 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(230, 230, 230, 0.9) !important; }

.progress {
  background: orangered !important;
  position: fixed;
  top: 0px;
  bottom: auto;
  left: 0;
  width: 50%;
  height: 5px !important;
  z-index: 1000;
  margin: 0 !important;
  padding: 0 !important; }

.mode {
  padding: 5px 20px !important;
  border-radius: 22px; }

.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px; }

.light .articleHeader #lune {
  display: none !important; }

.light .articleHeader #soleil {
  display: inline-block !important; }

.light .change {
  background: rgba(230, 230, 230, 0.9) !important;
  border-color: transparent; }
  .light .change:hover {
    background: #627d9d !important; }
    .light .change:hover svg, .light .change:hover path {
      fill: #000 !important; }

.dark {
  background-color: #191E21 !important;
  color: #e6e6e6 !important; }
  .dark .articleHeader #soleil {
    display: none !important; }
  .dark .articleHeader #lune {
    display: inline-block !important; }

.semi-dark {
  background: #1D2326 !important;
  color: #e6e6e6 !important;
  -webkit-box-shadow: 3px 2px 10px rgba(247, 99, 12, 0) !important;
  box-shadow: 3px 2px 10px rgba(247, 99, 12, 0) !important; }
  .semi-dark .sujet {
    color: #fff !important; }
  .semi-dark .introduction:hover, .semi-dark .parag:hover {
    color: #ccc !important; }
  .semi-dark .cta {
    background: #000 !important;
    border-color: #68768A !important; }
    .semi-dark .cta:hover {
      background: #ff9900 !important;
      color: #000 !important; }
  .semi-dark .branche:hover p {
    color: #ccc !important; }
  .semi-dark .enumeration {
    background: #111 !important;
    border-color: #000 !important; }
    .semi-dark .enumeration:hover {
      background: #111 !important;
      border-color: #68768A !important;
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease; }

.ter-dark {
  background: #1D2326 !important;
  border-bottom: 1px solid #000 !important; }
  .ter-dark svg, .ter-dark path {
    fill: #627d9d !important; }
  .ter-dark line {
    stroke: #ff9900 !important; }
  .ter-dark marquee {
    background: #000 !important; }
  .ter-dark .change {
    background: rgba(98, 125, 157, 0.3) !important;
    border-color: transparent; }
    .ter-dark .change:hover {
      background: black !important; }
      .ter-dark .change:hover svg, .ter-dark .change:hover path {
        fill: #FF8C00 !important; }
  .ter-dark #readingTime {
    color: #627d9d !important; }
    .ter-dark #readingTime span {
      color: rgba(98, 125, 157, 0.6) !important; }

@media only screen and (max-width: 3840px) {
  marquee {
    width: 25px;
    margin: 20px auto !important;
    text-align: center;
    height: 25px;
    color: #68768A;
    z-index: 100;
    position: fixed;
    bottom: 15px;
    right: 5%;
    background: rgba(230, 230, 230, 0.8);
    border-radius: 5px; }
  .articleHeader {
    position: fixed;
    width: 50%;
    height: 70px;
    background: #fff;
    padding: 20px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6; }
    .articleHeader marquee {
      background: rgba(98, 125, 157, 0.2) !important; }
    .articleHeader #readingTime {
      font-size: 20.4px;
      font-style: italic;
      margin-bottom: 0px !important;
      color: #ff9900; }
      .articleHeader #readingTime:hover {
        text-decoration: underline !important;
        color: #627d9d; }
      .articleHeader #readingTime #time {
        font-weight: 900; }
      .articleHeader #readingTime span {
        color: #627d9d; }
    .articleHeader svg {
      width: 30px; }
  .arti {
    background: #fff;
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 50px 200px !important;
    margin-bottom: 0px !important;
    -webkit-box-shadow: 5px 5px 10px #ddd;
    box-shadow: 5px 5px 10px #ddd;
    border-radius: 0 0 10px 10px; }
    .arti #alaune {
      height: auto;
      width: 100%;
      max-width: 100%; }
    .arti .sujet {
      font-size: 36px;
      font-weight: 1000;
      letter-spacing: -1px;
      margin: 20px auto !important;
      text-align: center;
      color: #000; }
      .arti .sujet:hover {
        color: #ff9900; }
    .arti .introduction {
      width: 100%;
      text-align: justify;
      font-size: 17px;
      line-height: 30px;
      letter-spacing: 0px;
      margin: 20px auto !important;
      color: #68768A; }
      .arti .introduction:hover {
        color: #000; }
    .arti .keyword {
      font-weight: bold; }
    .arti .branche {
      margin: 30px auto !important;
      border-top: 1px solid transparent; }
      .arti .branche:hover {
        border-top: 1px solid #CDCDCD; }
        .arti .branche:hover p {
          color: #000; }
      .arti .branche .titre1 {
        font-size: 26.4px;
        font-weight: 1000;
        font-family: "product sans black";
        margin: 15px auto 15px !important; }
        .arti .branche .titre1:hover {
          text-decoration: underline;
          color: #ff9900; }
      .arti .branche .parag {
        width: 100%;
        text-align: justify;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: 0px;
        margin: 30px auto !important;
        color: #68768A; }
      .arti .branche .cta {
        background: #fff;
        padding: 10px 35px !important;
        border-radius: 5px;
        color: #627d9d;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 35px auto !important;
        border: 1px solid #E6E6E6; }
        .arti .branche .cta:hover {
          color: #fff;
          background: #ff9900;
          -webkit-transition: .5s ease;
          -o-transition: .5s ease;
          transition: .5s ease; }
    .arti .enumeration {
      width: 80%;
      height: auto;
      padding: 30px !important;
      border: 1px solid #E6E6E6;
      border-radius: 15px;
      list-style: none;
      margin: 30px auto !important;
      font-size: 15.3px; }
      .arti .enumeration li {
        margin: 30px auto !important; }
        .arti .enumeration li a {
          color: #627d9d; }
          .arti .enumeration li a:hover {
            color: #ff9900; }
      .arti .enumeration:hover {
        border-color: #627d9d;
        -webkit-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; } }

@media only screen and (max-width: 668px) {
  body {
    height: auto;
    margin: 0 !important;
    padding: 0 !important; }
  .articleHeader {
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 5px 15px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6; }
    .articleHeader #readingTime {
      font-size: 13px;
      font-style: italic;
      margin-bottom: 7px !important;
      color: #ff9900; }
      .articleHeader #readingTime:hover {
        text-decoration: underline; }
      .articleHeader #readingTime span {
        font-weight: bold;
        color: #627d9d; }
      .articleHeader #readingTime label {
        color: #627d9d; }
    .articleHeader svg {
      width: 22px; }
  .arti {
    background: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 20px 100px !important;
    overflow-y: scroll;
    margin-bottom: 0 !important;
    border-radius: 0; }
    .arti::-webkit-scrollbar {
      display: none; }
    .arti .enumeration {
      width: 100%; } }
