@import "libs/reset";
@import "libs/theme";
@import "libs/responsive";

body{
  // overflow: hidden !important;
  width: 100%;
  height: auto !important;
  font-family: "Product sans","Black sans", arial !important;
  padding: 0 0 50px !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba($gray-light, 0.9) !important;
}

.progress{
    background: orangered !important;
    position: fixed;
    top: 0px;
    bottom: auto;
    left: 0;
    width: 50%;
    height: 5px !important;
    z-index: 1000;
    margin: 0 !important;
    padding: 0 !important;
}


// LAPTOP
@media #{$pc-screen}{



    marquee{
      width: 25px;
      margin: 20px auto !important;
      text-align: center;
      height: 25px;
      color: $gray-dark;
      z-index: 100;
      position: fixed;
      bottom: 15px;
      right: 5%;
      background: rgba($gray-light, 0.8);
      border-radius: 5px;
    }


  .articleHeader{
    position: fixed;
    width: 50%;
    height: 70px;
    background: $blanc;
    padding: 20px !important;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $gray-light;

  }


  .arti{
    // position: relative;
    background: $blanc !important;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px 200px !important;
    margin-bottom: 0px !important;
    box-shadow: 5px 5px 10px #ddd;
    border-radius: 0 0 10px 10px;
    // overflow-y: scroll;
    //
    // &::-webkit-scrollbar {
    //     display: none;
    // }

    #alaune{
      height: auto;
      // max-height: 500px;
      width: 100%;
      max-width: 100%;
    }

    .sujet{
      font-size: $pc-text-max *0.8;
      font-weight: 1000;
      letter-spacing: -1px;
      margin: 20px auto !important;
      text-align: center;
      color: $noir;

      &:hover{
        color: $orange-MB;
      }
    }

    .introduction{
      width: 100%;
      text-align: justify;
      font-size: $pc-text-min;
      line-height: 30px;
      letter-spacing: 0px;
      // font-style: italic;
      margin: 20px auto !important;
      color: $gray-dark;

      &:hover{
        color: $noir;
      }
    }

    .keyword{
      font-weight: bold;
    }

    .branche{
      margin: 30px auto !important;
      border-top: 1px solid transparent;

      &:hover{
        border-top: 1px solid $gray;
        p{color: $noir;}
      }
      .titre1{
        font-size: $pc-text-med *1.2;
        font-weight: 1000;
        font-family: "product sans black";
        margin: 15px auto 15px !important;

        &:hover{
          text-decoration: underline;
          color: $orange-MB;
        }
      }

      .parag{
        width: 100%;
        text-align: justify;
        font-size: $pc-text-min;
        line-height: 30px;
        letter-spacing: 0px;
        margin: 30px auto !important;
        color: $gray-dark;

      }

      .cta{
        background: $blanc;
        padding: 10px 35px !important;
        border-radius: 5px;
        color: $gray-flat;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 35px auto !important;
        border: 1px solid $gray-light;

        &:hover{
          color: $blanc;
          background: $orange-MB;
          transition: 1s ease;
        }
      }
    }

    .enumeration{
      width: 80%;
      height: auto;
      padding: 30px !important;
      border: 1px solid $gray-light;
      border-radius: 15px;
      list-style: none;
      margin: 30px auto !important;
      font-size: $pc-text-min *.9;

      li{
        margin: 30px auto !important;

        a{
          color: $gray-flat;

          &:hover{
            color: $orange-MB;
          }
        }
      }

      &:hover{
        border-color: $gray-flat;
        transition: 1s ease;
      }
    }
  }
}

// MOBILE
@media #{$smart-screen}{

  body{
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
  }

  .articleHeader{
    width: 100%;
    height: 70px;
    background: $blanc;
    padding: 20px !important;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $gray-light;
  }

  .arti{
    background: $blanc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 100px !important;
    overflow-y: scroll;
    margin-bottom: 0 !important;

    &::-webkit-scrollbar {
        display: none;
    }

    .enumeration{
      width: 100%;
    }
  }
}
