@import "libs/reset";
@import "libs/theme";
@import "libs/responsive";

body{
  // overflow: hidden !important;
  width: 100%;
  height: auto !important;
  font-family: "Product sans","Black sans", arial !important;
  padding: 0px 0 50px !important;
  margin: 0px 0 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba($gray-light, 0.9) !important;
}

.progress{
    background: orangered !important;
    position: fixed;
    top: 0px;
    bottom: auto;
    left: 0;
    width: 50%;
    height: 5px !important;
    z-index: 1000;
    margin: 0 !important;
    padding: 0 !important;
}

.mode{

  padding: 5px 0px !important;
  // border: 1px solid $gray-flat;
  border-radius: 22px;
}

.change {
      cursor: pointer;
      border: 1px solid #555;
      border-radius: 40%;
      width: 20px;
      text-align: center;
      padding: 5px;
      margin-left: 8px;
  }

.light{
  transition: 2s ease;

  .articleHeader #lune{
    display: none !important;
  }
  .articleHeader #soleil{
    display: inline-block !important;
  }
  .change{
    background: rgba($gray-light,0.9) !important;
    border-color: transparent;

    &:hover{
      background: rgba($gray-flat,1) !important;
      svg, path{fill: $noir !important;}
    }
  }

  .recommandation{
    border-color: $gray-light !important;
    background: #fff;
  }

  .arti, .articleHeader, .cta{
    transition: 2s ease;
    background: $blanc;
  }

  .enumeration{
    transition: 2s ease;
    background: rgba($gray-light,0.3);

    &:hover{
      border-color: $gray !important;
    }
  }
}

.dark{
  transition: 2s ease;
    background-color: #191E21 !important;
    color: #e6e6e6 !important;

    .articleHeader #soleil{
      display: none !important;
    }

    .articleHeader #lune{
      display: inline-block !important;
    }
}

.semi-dark{
  transition: 2s ease;

  background: #1D2326 !important;
  color: #e6e6e6 !important;
  box-shadow: 3px 2px 10px rgba($noir,0) !important;

  .sujet{
    color: $blanc !important;
    text-transform: uppercase;

    &:hover{
      color: $orange-MB !important;
    }
  }

  .introduction, .parag{

    &:hover{
      color: #ccc !important;
    }
  }

  .cta{
    background: #191E21 !important;
    color: $orange-MB !important;
    border-color: rgba($orange-MB, 0.3) !important;

    &:hover{
      background: $orange-MB !important;
      color: $noir !important;
    }
  }

  .branche{

    &:hover{
      p{ color: #ccc !important;}
    }
  }


  .enumeration{
    background: rgba(#111, 0.3) !important;
    border-color: transparent !important;

    &:hover{
      background: #111 !important;
      border-color: $gray-dark !important;
      transition: 2s ease;
    }

  }

  .recommandation{
    border-color: $gray-flat !important;
    background: #111;
  }

}

.ter-dark{
  transition: 2s ease;

  background: #1D2326 !important;
  border-bottom: 1px solid #000 !important;


  svg, path{
    fill: $gray-flat !important;
  }

  line{
    stroke: $orange-MB !important;
  }

  #line_5{
    color: $orange !important;
    fill: $orange !important;
    stroke: $orange !important;
  }

  marquee{
    background: $noir !important;
  }

  .change{
    background: rgba($gray-flat,0.3) !important;
    border-color: transparent;

    &:hover{
      background: rgba($noir,1) !important;
      svg, path{fill: $orange !important;}
    }

  }

  #readingTime{
    color: $gray-flat !important;
    font-weight: bold !important;

    &:hover span{
      color: #ccc !important;
    }

    span{
      color: rgba($gray-flat,0.6) !important;
      font-weight: bold !important;
    }
  }


}


// LAPTOP
@media #{$pc-screen}{



    marquee{
      width: 25px;
      margin: 20px auto !important;
      text-align: center;
      height: 25px;
      color: $gray-dark;
      z-index: 100;
      position: fixed;
      bottom: 15px;
      right: 5%;
      background: rgba($gray-light, 0.8);
      border-radius: 5px;
    }


  .articleHeader{
    position: fixed;
    width: 50%;
    height: 70px;
    background: $blanc;
    padding: 20px !important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid $gray-light;

    marquee{
      background: rgba($gray-flat, 0.2) !important;
    }

    #readingTime{
      font-size: $pc-text-min*1.2;
      font-style: italic;
      margin-bottom: 0px !important;

      color: $orange-MB;

      &:hover{
        text-decoration: underline !important;
        color: $gray-flat;
      }

      #time{font-weight: 900;}
      span{ color: $gray-flat;}
    }

    svg{
      width: 30px;
    }

  }


  .arti{
    // position: relative;
    background: $blanc;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px 200px !important;
    margin-bottom: 0px !important;
    box-shadow: 5px 5px 10px #ddd;
    border-radius: 0 0 10px 10px;
    // overflow-y: scroll;
    //
    // &::-webkit-scrollbar {
    //     display: none;
    // }

    #alaune{
      height: auto;
      // max-height: 500px;
      width: 100%;
      max-width: 100%;
    }
    #smallPCT{
      max-width: 450px !important;
      height: auto;
    }

    .sujet{
      font-size: $pc-text-max *0.8;
      font-weight: 1000;
      letter-spacing: -1px;
      margin: 50px auto 20px !important;
      text-align: center;
      color: $noir;

      &:hover{
        color: $orange-MB;
      }
    }

    .introduction{
      width: 100%;
      text-align: justify;
      font-size: $pc-text-min;
      line-height: 30px;
      letter-spacing: 0px;
      // font-style: italic;
      margin: 20px auto !important;
      color: $gray-dark;

      &:hover{
        color: $noir;
      }
    }

    .keyword{
      font-weight: bold;
    }

    .recommandation{
      width: 90%;
      background: $t;
      border-radius: 5px;
      border: 1px solid $gray-flat;
      padding: 15px 30px !important;
      line-height: 25px;
      text-align: center;
      display: flex;
      flex-direction: column;

      .info{
        margin-top: 30px !important;
        font-weight: light;
        font-size: $pc-text-min*1.1;

      }
      .old_price{
        color: #C3C3C3;
        font-size: 30px;
        text-decoration: line-through;
        font-weight: bold;
      }
      .new_price{
        color: #FF9813;
        font-size: 30px;
        // text-decoration: line-through;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .branche{
      margin: 30px auto !important;
      border-top: 1px solid transparent;

      &:hover{
        border-top: 1px solid $gray;
        p{color: $noir;}
      }
      .titre1{
        display: flex;
        align-items: flex-end;
        font-size: $pc-text-med *1.2;
        font-weight: 1000;
        font-family: "product sans black";
        margin: 40px auto 60px !important;

        &:hover{
          text-decoration: underline;
          color: $orange-MB;
        }
      }
      .image_text1{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
          height: 190px !important;
          width: auto;
          margin-right: 30px !important;
        }
      }
      .image_text2{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
          height: 190px !important;
          width: auto;
          margin-left: 30px !important;
        }
      }

    }
    .text_fin{
      color: #ED7D31;
      font-size: 15px;
      margin-top: 40px !important;

    }

      .parag{
        width: 100%;
        text-align: justify;
        font-size: $pc-text-min;
        line-height: 30px;
        letter-spacing: 0px;
        margin: 30px auto !important;
        color: $gray-dark;

      }

      .cta{
        background: $orange-MB;
        padding: 10px 35px !important;
        border-radius: 5px;
        color: $blanc;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 35px auto !important;
        border: 1px solid $gray-light;

        &:hover{
          text-decoration: underline !important;
          transition: .5s ease;
        }
      }

    .enumeration{
      width: 80%;
      height: auto;
      padding: 30px 15px 30px 45px !important;
      border: 1px solid $gray-light;
      border-radius: 15px;
      // list-style: none;
      margin: 30px auto !important;
      font-size: $pc-text-min;
      font-style: italic;
      letter-spacing: .7px;
      font-weight: bold;

      li{
        margin: 30px auto !important;

        a{
          color: $gray-flat;

          &:hover{
            color: $orange-MB;
          }
        }
      }

      &:hover{
        border-color: $gray-flat;
        transition: 1s ease;
      }
    }
  }
}

// TABLET
@media #{$tablet-screen}{

  .articleHeader, .arti{
    width: 80%;
  }

  .recommandation{
    width: 90%;
  }
}
// MOBILE
@media #{$smart-screen}{

  body{
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
  }

  #readingTime span{
    font-size: $mob-text-med*1.1 !important;
  }

  .recommandation{
    width: 100% !important;
    // padding: 130px 20px !important;

    .info{
      font-size: $mob-text-med*1.5 !important;
      margin-top: 25px !important;
    }
  }

  .articleHeader{
    width: 100%;
    height: 50px;
    background: $blanc;
    padding: 5px 15px !important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid $gray-light;

    #readingTime{
      font-size: $mob-text-med;
      font-style: italic;
      margin-bottom: 7px !important;

      color: $orange-MB;

      &:hover{
        text-decoration: underline;
      }

      span{font-weight: bold; color: $gray-flat;}
      label{ color: $gray-flat; }
    }

    svg{
      width: 22px;
    }
  }

  .arti{
    background: $blanc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 100px !important;
    overflow-y: scroll;
    margin-bottom: 0 !important;
    border-radius: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    .enumeration{
      width: 100%;
    }

    .cta{
      background: $orange-MB;
      // background: $blanc;
      padding: 10px 35px !important;
      border-radius: 5px;
      color: $blanc;
      // color: $gray-flat;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 35px auto !important;
      border: 1px solid $gray-light;

      &:hover{
        transition: .5s ease;
      }
    }
  }
}
